$primary-color : #0075EF;
$secondary-color: #004028;
$tertiary-color: #A49775;
$info-color: #0075EF;
$success-color: #3EB43E;
$processing-color: #0075EF;
$error-color: #D51246;
$highlight-color: #D51246;
$warning-color: #ECA300;
$normal-color: #d9d9d9;
$white: #fff;
$off-white-color: #e8e8e8;
$black: #000;
$light-black: rgba($black, 0.65);
$light-gray-color: rgba(black,.1);

//new changes - need to be aligned with our design
$hover-color: #f9f9fc;
$shadow-color: rgba(0, 0, 0, 0.05);
$dark-half: #494949;
$purple: #d897eb;
$shadow-1: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
$shadow-2: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
$transition-ease-in: all 0.3s ease-out;
$transition-ease-out: all 0.3s ease-out;
$ease-in: ease-in;