@import "src/styles/sass/vars";
@import "src/styles/sass/mixins/rtl";
@import "src/styles/sass/mixins/rwd";

.forget {
    text-align: center;
    font-size: 1.2rem;
    :global{
        h1.ant-typography{
            font-size: 2rem;
            color: $black;
            text-align: center;
            font-weight: bold;
            line-height: 2;
        }
    }

    width: 80%;
    margin: auto;
    background-color:$white;
    padding: 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);

    &__btn {
        width: 100%;
    }
}

